@mixin footer {
  width: 1270px;
  height: 869px;
  background-color: $Blue-02-color;
  border-radius: 0 200px 0 0;
  
  .our-team-title {
    position: relative;
    width: 1270px;
    height: 390px;
    display: flex;
    flex-direction: column;
    color: $whiteColor;
    padding: 91px 0 0 213px;
    border-bottom: 1px solid $whiteColor;
    .h2 {
      @include h2;
      width: 317px;
      height: 92px;
      color: $whiteColor;
    }
    .our-team-text {
      @include main-font;
      color: $whiteColor;
      width: 503px;
      height: 80px;
    }
  }
  .talk-btn {
    @include small-btn;
    position: absolute;
    align-self: end;
    margin: 40px 197px 0 0;
    .lets-talk-btn {
      padding-left: 30px;
    }
  }

  .footer-container {
    display: flex;
    padding: 97px 0 0 213px;
    .footer-title {
      @include our-project-big-font;
      letter-spacing: 0.02em;
    }
    .footer-logo {
      margin-right: 16px;
    }
    span {
      position: relative;
      top: 26px;
      @include our-project-smile-font;
      line-height: 26px;
      opacity: 1;
    }
    .address,
    .about,
    .follow {
      @include our-project-smile-font;
      line-height: 26px;
      opacity: 1;
      margin-left: 30px;
    }
  }

  .contacts,
  .about-us,
  .follow-us {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
  }
  .about-us,
  .follow-us {
    .footer-title {
      margin-left: 27px;
    }
  }

  .about,
  .follow {
    margin-top: 20px;
  }
  .copyrights {
    @include our-project-smile-font;
    line-height: 26px;
    opacity: 0.4;
    margin: 64px 0 64px 213px;
  }
}
