$bgColor: linear-gradient(
  0deg,
  rgba(152, 195, 232, 0.2),
  rgba(254, 255, 255, 1)
);
$mainFont: 'Quicksand', sans-serif;
$tiileFont: 'Vollkorn', serif;
$mainFontSize: 18px;
$titleFontSize: 64px;
$darkBlueColor: #1f3f68;
$BlueColor: #316099;
$whiteColor: #ffffff;
$lightBlueColor: #5a98d0;
