$bgColor: linear-gradient(
  0deg,
  rgba(152, 195, 232, 0.2),
  rgba(254, 255, 255, 1)
);
$mainFont: 'Quicksand', sans-serif;
$tiileFont: 'Vollkorn', serif;
$mainFontSize: 18px;
$titleFontSize: 64px;
$Blue-01-color: #1f3f68;
$Blue-02-color: #316099;
$Blue-03-color: #356ead;
$Blue-04-color: #5a98d0;
$Blue-05-color: #98c3e8;
$whiteColor: #ffffff;
$lightWhiteColor: #f4f4f4;
$blackColor: #000000;
