@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap');
@import 'variables.scss';
@import 'mixins.scss';
@import 'footer.scss';

body {
  font-family: $mainFont;
}

a {
  color: inherit;
}

.big-container {
  max-width: 1366px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.nav {
  @include nav-panel;
}

.blog-header {
  height: 250px;
  margin-top: 42px;
  background-image: url(../image/blog-header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.blog-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .blog-title {
    @include h1;
    font-family: $mainFont;
    color: $whiteColor;
    padding-top: 50px;
  }
  .subtitle {
    width: 780px;
    height: 60px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    padding-top: 16px;
  }
}

.container {
  max-width: 940px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.search-form {
  width: 100%;
  height: 56px;
  margin-top: 56px;
  background-color: #f4f4f4;
  line-height: 56px;
  border-radius: 10px;
  position: relative;
}

.search-img {
  position: absolute;
  margin: 16px 0 0 24px;
}
.search-form input {
  width: 98%;
  height: 80%;
  background-color: transparent;
  padding: 0 72px;
  font-size: 16px;
  color: $Blue-01-color;
  line-height: 19px;
  opacity: 0.6;
}

.popular-first-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popular-first-title-inner {
  max-width: 940px;
  display: flex;
  margin: 0 auto;
  justify-content: flex-start;
  margin-top: 56px;
}

.section-first-popular {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.popular-first-title {
  text-transform: uppercase;
  color: $Blue-03-color;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.04em;
  opacity: 0.8;
}
.popular-main-first-title {
  width: 380px;
  height: 100px;
  font-family: $tiileFont;
  font-size: 38px;
  line-height: 50px;
  letter-spacing: 0.04em;
  color: $Blue-01-color;
}

.popular-first-article-lext {
  width: 360px;
  // height: 150px;
  margin-top: 32px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.04em;
  opacity: 0.6;
  color: $blackColor;
}
.footer-article {
  display: flex;
  margin-top: 16px;
}
.autor {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: $Blue-01-color;
  span {
    opacity: 0.4;
    margin-top: 4px;
  }
}

.bookmarks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  img:nth-child(1) {
    margin-right: 32px;
  }
}

.popular-articles-inner {
  margin-top: 32px;
  width: 300px;
  display: flex;
  justify-content: center;
  .popular-articles:nth-child(2) {
    margin: 0 10px 0 10px;
  }
}

.popular-title {
  width: 298px;
  margin-top: 16px;
  font-family: $tiileFont;
  font-size: 22px;
  line-height: 136%;
  letter-spacing: 0.04em;
  color: $Blue-01-color;
}
.popular-article-lext {
  margin-top: 16px;
  width: 298px;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.04em;
  color: $blackColor;
  opacity: 0.6;
}

.see-all-popular {
  max-width: 940px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  .see-all{
    margin-top: 54px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: $Blue-03-color;
    opacity: 0.8;
  }
}

.footer {
  width: 1270px;
  height: 869px;
  background-color: $Blue-02-color;
  border-radius: 0 200px 0 0;
  margin-top: 96px;
}
.footer-inner {
  @include footer;
}
